.ct-container {
  display: flex;
  flex: 1 1 0%;
  height: 100vh;
}

.ct-contacts {
  background-color: $color-violet;
  width: 30%;
  color: $color-air;
}

.ct-dialog {
  background-color: $color-air;
  width: 70%;
}

.ct-me {
  height: 150px;
  padding-top: (20/16) * 1rem;
  > * {
    margin: 0 auto;
    text-align: center;
  }
  .ct-avatar {
    margin-bottom: (10/16) * 1rem;
  }
}

.ct-avatar {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 30px;
}

.ct-avatar__image {
  width: 60px;
  height: auto;
}

.ct-avatar--medium {
  width: 45px;
  height: 45px;
  border-right: 45px;
}

.ct-avatar--large {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.ct-avatar__user-status {
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: $color-grey;
  width: 10px;
  height: 10px;
  border-radius: 10px;

  &:before {
    content: '';
    top: 1px;
    left: 1px;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 8px;
  }
}

.ct-avatar__user-status--online {
  &:before {
    background-color: $color-green;
  }
}

.ct-contact {
  display: flex;
  flex: 1 1 0%;
  padding-top: (24/16)*1rem;
  padding-bottom: (24/16)*1rem;
  &:hover, &:focus {
    background-color: $color-violet--lightest;
  }
}
.ct-contact--active {
  background-color: $color-violet--light;
}

.ct-contact-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 150px);
}

.ct-contact__avatar-container {
  flex: 1;
  max-width: 90px;
  > * {
    margin: 0 auto;
  }
}

.ct-contact__user-info-container {
  position: relative;
  flex: 1;
  margin-right: (15/16)*1rem;
}

.ct-contact__user-name {

}

.ct-contact__user-last-message {

}

.ct-contact__user-last-message-time {
  position: absolute;
  top: 0;
  right: 0;
}

.ct-contact__user-unread-message-number {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  span {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.ct-dialog {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.ct-dialog__top-bar {
  display: flex;
  flex: 1 1 0%;
  padding: (30/16)*1rem;
  height: 75px;
  max-height: 75px;
  flex-direction: row;
  border-bottom: 2px solid $color-grey;
}
.ct-dialog__messages-container {
  height: calc(100vh - 135px);
  flex: 1 1 0%;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  overflow-y: scroll;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
}
.ct-dialog__send-bar {
  height: 60px;
  max-height: 60px;
}

.ct-dialog__interlocutor {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
}

.ct-dialog__interlocutor-name {

}

.ct-dialog__actions {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  max-width: 100%;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.ct-dialog__actions {
}

.ct-message {
  display: flex;
  margin-top: (10/16)*1rem;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.ct-message--my {
  justify-content: flex-start;
}
